/* Home Page CSS */


@font-face {
	font-family: 'Muli', sans-serif;
	font-family: 'Bangers', cursive;
}


body {
	font-family: 'Muli';
	font-weight: 300;
	background-color: grey;
	margin: 0;
}

body a(not:portfolio_container) {
	cursor: url('../images/flashlight_cursor.png'), auto;
}

.nav_wrapper {
	background-color: #333333;
	color: #F4F4F4;
	display: flex;
	width: 100%;
	margin: 0 auto;
  	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 100;
  	cursor: default;
}

.nav_wrapper a {
	color: white;
	cursor: cell;
}

.nav {
	display: flex;
	line-height: 3em;
	flex-grow: 1;

}

.left {
	margin-left: 20px;
	font-family: 'Bangers';
	letter-spacing: 2px;
	font-size: 20px;
	padding-top: 5px
}

.left a {
	text-decoration: none;
	margin: 10px;
	border: 1px solid #F4F4F4;
	line-height: normal;
	padding: 10px;
}

.right {
	justify-content: flex-end;
	line-height: 20px;
}

.nav-list {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	
}

.nav-list li {
	margin-right: 10px;
}

@media only screen and (max-width: 640px) {


	.left {
		position: relative;
		margin-left: 200px;
		font-size: 30px;
	}

	.right {
		display: none;
	}
}

.information h3 {
	font-family: 'Bangers';
}
.information ul {
	list-style-type: none;
}


#about {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #333333;
	color: #333333;
	background: url('../images/backgrounds/storm.jpg') no-repeat center center fixed;
	background-size: cover;

	
}

.about_container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 1000px;
	background-color: #F4F4F4;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	box-shadow: 0 10px 50px rgba(0,0,0,0.3);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	

}

#about_me_title {
	font-size: 30px;
	margin: 0px;
}

.about_content {
	padding-left: 50px;
	flex: 1 1 100px;
	letter-spacing: 1.25px;

}

.headshot {
	flex: 0;
	width: auto;
	height: 250px;
	width: 250px;
	margin: 30px 0px 0px 30px;
	border-radius: 100%;
	box-shadow: 0 10px 50px rgba(0,0,0,0.3);
}

@media only screen and (max-width: 640px) {

	#about {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 1000px;
	}
	.about_container {
		width: 400px;
		margin-top: 150px;		
	}

	.headshot {
		flex: 0;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;

	}

	.about_content {
		display: block;
		max-width: 300px;
		justify-content: center;
	}
}

/* Portfolio */
#portfolio {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background: url('../images/backgrounds/swamp.jpg') no-repeat center center fixed;
	background-size: cover;
	background-color: grey;
}

#portfolio_title {
	text-align: center;
	font-size: 50px;
	letter-spacing: 5px;
	margin: 10px;
	background-color: #819582;
	color: #F4F4F4;
	border-radius: 25px;
	width: 400px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#portfolio p {
	text-align: center;
	color: #F4F4F4;
	font-size: 13px;
	width: 400px;
	margin: 15px auto;
}

#portfolio_content {
	color: grey;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
}


/* Slideshow container */
.slideshow-container {
	background-color: #819582;
	border-radius: 25px;
	box-shadow: 0 10px 50px rgba(0,0,0,0.3);
	padding-top: 25px;
	padding-bottom: 50px;
	position: relative;
	align-items: center;
	height: 100%;
	overflow: hidden;
	margin: auto;
}

/* Hide the images by default */
.mySlides {
	display: none;
	justify-content: center;
}


.portfolio_icons {
	max-width: 50%;
	background-attachment: fixed;
	background-position: center center;
	object-fit: cover;
	display: block;
	margin: auto;
	border-radius: 25px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  display: block;
  width: 20px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0px;
  border-radius: 3px 3px 3px 3px;
  padding: 10px 0px 10px 10px;
  margin: 0px 25px 0px 0px;

}

.prev {
	left: 0px;
	padding: 10px 0px 10px 10px;
	border-radius: 3px 3px 3px 3px;
	margin: 0px 0px 0px 25px;
}

/* On hover, add a #333333 background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* Caption text */

.image_dots {
	padding-top: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.work_with {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 400px;
	text-align: center;
	color: #F4F4F4;
}

.center_button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}

.magic_button {
	border-radius: 25px;
	letter-spacing: 2px;
	font-family: 'Bangers';
	background-color: #206594;
	width: 200px;
	padding: 5px;
	color: #F4F4F4;

}

.magic_button:hover {
	width: 300px;
	letter-spacing: 5px;
	cursor: url('../images/flashlight_cursor.png'), auto;

}

@media only screen and (max-width: 640px) {
	#portfolio_content {
		width: 400px;
	}

	.work_with {
		width: 300px;
	}
}

#myForm {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #206594;
	border-radius: 25px;
	text-align: center;
}

.form_popup {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.form_container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	
}

.contact_title {
	color: #F4F4F4;
	background-color: #819582;
	text-align: center;
	width: 200px;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: 3px;
	font-size: 30px;
	margin-top: 50px;
}

.form_container label {
	color: #F4F4F4;
	font-family: 'Bangers', cursive;
	letter-spacing: 3px;
} 

.form_container input[type=text], .form_container input[type=email] {
	width: 400px;
	background: #F4F4F4;
	margin: 20px;
	padding: 16px 20px;
}

.form_container input::-webkit-input-placeholder {
  color: #206594;
  font-family: 'Bangers';
  letter-spacing: 2px;
  text-align: center;
}

.form_container input[type=text]:focus, .form_container input[type=email]:focus {
	background-color: #ddd;
	color: #819582;
	outline: none;
	font-family: 'Muli';
} 

.buttons_box {
	margin-left: auto;
	margin-right: auto;
}
.form_container .btn {
  background-color: #819582;
  color: #F4F4F4;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin-bottom:10px;
  opacity: 0.8;
  font-family: 'Bangers', cursive;
  letter-spacing: 3px;
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}


@media only screen and (max-width: 640px) {
	.form_container input[type=text], .form_container input[type=email] {
		width: 200px;
	}

	.form_container .btn {
		width: 200px;
	}
}


#work {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background: url('../images/backgrounds/sanfrancisco.jpg') no-repeat center center fixed;
	background-size: cover;
	background-color: grey;
	
}

.work_content {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.work_title {
	text-align: center;
	color: #333333;
	font-size: 50px;
	letter-spacing: 5px;
	margin: auto;
	background-color: #D2B48C;
	width: 200px;
	border-radius: 25px;
}

.work_history {
	line-height: 150%;
	display: flex;
}

.work_content img {
	margin: 0 auto;
	display: block;
}

.roles, .organizations, .non_profit_role, .non_profit_org {
	flex: 1;
	width: 100%;
	padding: 1rem;
	background-color: #D2B48C;
	margin: 10px;
	border-radius: 25px;
	box-shadow: 0 10px 50px rgba(0,0,0,0.3);
	position: relative;
	color: #333333;
}

.roles h5, .organizations h5, .non_profit_role h5, .non_profit_org h5 {
	text-align: center;
	font-size: 17px;

}

.roles ul, .organizations ul, .non_profit_role ul, .non_profit_org ul {
	padding-left: 10px;
	
}

@media only screen and (max-width: 640px) {

	#work {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		background: url('../images/backgrounds/sanfrancisco.jpg') no-repeat center center fixed;
		background-size: cover;
		background-color: grey;
	}

	.work_content {
		all: unset;

	}

	.work_title {
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
	}

	.work_history {
		display: flex;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
		width: 300px;
		

	}

	.work_history ul {
		list-style-type: initial;
		font-size: 17px;
		margin-left: 10px;
	}

}

#skills {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background: url('../images/backgrounds/code.jpg') no-repeat center center fixed;
	background-size: cover;
	background-color: grey;
	
}

.skills_content {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

#skills_title {
	text-align: center;
	font-size: 50px;
	margin: auto;
	letter-spacing: 5px;
	background-color: #72A5AA;
	border-radius: 25px;
	width: 500px;
	
}
.skills_box {
	display: flex;
	
}

.hard_skills, .soft_skills, .technical_skills {
	flex: 1;
	width: 100%;
	padding: 1rem;
	background-color: #72A5AA;
	margin: 50px;
	border-radius: 25px;
	box-shadow: 0 10px 50px rgba(0,0,0,0.3);
	position: relative;
	color: #333333;
}

.hard_skills h5, .soft_skills h5, .technical_skills h5 {
	text-align: center;
	margin: 0px;
	text-decoration: underline;
	font-size: 25px;

}


.skills_box ul {
	line-height: 150%;
	letter-spacing: 2px;
}

@media only screen and (max-width: 640px) {
	#skills {
		height: 100%;
	}

	.skills_content {
		all: unset;
	}

	#skills_title {
		width: 250px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		padding: 5px;
	}

	.skills_box {
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		margin-right: auto;
		margin-left: auto;
		width: 250px;
		
	}

	.hard_skills, .soft_skills, .technical_skills {
		margin: 30px auto;
		width: 200px;

	}

}



.timeline {
	width: 100%;
	max-width: 1800px;
	margin: 0 auto;
	text-align: center;
	white-space: nowrap;
	overflow-x: hidden;
	background: url('../images/backgrounds/plane.jpg') no-repeat center center fixed;
	background-size: cover;
	background-color: grey;
	height: 100vh;

}

.timeline h3 {
	color: #333333;
	font-size: 50px;
	letter-spacing: 5px;
	border-radius: 25px;
	background-color: #F4F4F4;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;


}

.timeline ol {
	font-size: 0;
	width: 100vw;
	padding: 200px 0;
	margin-left: -100px;
	transition: all 1s;

}

.timeline ol li {
	position: relative;
	display: inline-block;
	list-style-type: none;
	width: 75px;
	height: 3px;
	background: #F4F4F4;

}



.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: purple;
}

/* Button */
.timeline ol li div {
  position: absolute;
  left: calc(100% + 6px);
  width: 120px;
  height: 75px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: #333333;
  background: #F4F4F4;
}

.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
  border-radius: 25px 25px 25px 0px;
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
  border-radius: 0px 25px 25px 25px;
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Bangers';
  margin-bottom: 8px;
}